In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Marina_Bay_Sands.csv")
dataset.head()

,Unnamed: 0,Review,Ratings,Date
0,0,Booked 3 rooms for a family staycation but sad...,1,review Yesterday
1,1,We booked a Bay Suite for family of 5 with a s...,5,e a review 17 Dec
2,2,World Class Service! Highly recommended for an...,5,on wrote a review 16 Dec
3,3,Our family of 2 adults and 2 kids had a thoro...,4,review 15 Dec
4,4,If you are looking for an unforgettable stayca...,5,review 14 Dec

In [3]:
dataset['Date'][0][-9:]

'Yesterday'

In [4]:
# by this I get 6 Dec from w 6 Dec 

for i in range(2,len(dataset['Date'])):
    if len(dataset['Date'][i].split()) > 2:
        dataset['Date'][i] = dataset['Date'][i][-8:]

c:\users\sonih\anaconda3\envs\p39\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [5]:
dataset['Date'][0]

'review Yesterday'

In [6]:
dataset.head()

,Unnamed: 0,Review,Ratings,Date
0,0,Booked 3 rooms for a family staycation but sad...,1,review Yesterday
1,1,We booked a Bay Suite for family of 5 with a s...,5,e a review 17 Dec
2,2,World Class Service! Highly recommended for an...,5,w 16 Dec
3,3,Our family of 2 adults and 2 kids had a thoro...,4,w 15 Dec
4,4,If you are looking for an unforgettable stayca...,5,w 14 Dec

In [7]:
# by this if len(dataset['Date'].split) > 2 then Dec 2020

for i in range(len(dataset['Date'])):
    if len(dataset['Date'][i].split()) == 3:
        data = dataset['Date'][i].split()
        dataset['Date'][i] = data[1] +" "+data[2]

c:\users\sonih\anaconda3\envs\p39\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
dataset.head()

,Unnamed: 0,Review,Ratings,Date
0,0,Booked 3 rooms for a family staycation but sad...,1,review Yesterday
1,1,We booked a Bay Suite for family of 5 with a s...,5,e a review 17 Dec
2,2,World Class Service! Highly recommended for an...,5,16 Dec
3,3,Our family of 2 adults and 2 kids had a thoro...,4,15 Dec
4,4,If you are looking for an unforgettable stayca...,5,14 Dec

In [9]:
# in it I convert yesterday into date

for i in range(len(dataset['Date'])):
    if dataset['Date'][i] == 'review Yesterday':
        dataset['Date'][i] = '18 Dec'

c:\users\sonih\anaconda3\envs\p39\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
dataset.head()

,Unnamed: 0,Review,Ratings,Date
0,0,Booked 3 rooms for a family staycation but sad...,1,18 Dec
1,1,We booked a Bay Suite for family of 5 with a s...,5,e a review 17 Dec
2,2,World Class Service! Highly recommended for an...,5,16 Dec
3,3,Our family of 2 adults and 2 kids had a thoro...,4,15 Dec
4,4,If you are looking for an unforgettable stayca...,5,14 Dec

In [11]:
dataset['Date'][1] = '17 Dec'

c:\users\sonih\anaconda3\envs\p39\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
dataset.head(16)

,Unnamed: 0,Review,Ratings,Date
0,0,Booked 3 rooms for a family staycation but sad...,1,18 Dec
1,1,We booked a Bay Suite for family of 5 with a s...,5,17 Dec
2,2,World Class Service! Highly recommended for an...,5,16 Dec
3,3,Our family of 2 adults and 2 kids had a thoro...,4,15 Dec
4,4,If you are looking for an unforgettable stayca...,5,14 Dec
5,5,I had a great staycation to celebrate my anniv...,5,13 Dec
6,6,Booked a room to celebrate my friend's birthda...,5,13 Dec
7,7,Staycation was great with beautiful harbour vi...,5,9 Dec
8,8,It's been a few years since i last stayed at t...,5,8 Dec
9,9,I would to extend my compliment to Ms Catherin...,4,8 Dec
10,10,I would like to compliment a staff named Hanna...,5,6 Dec
11,11,I book Premier twin city view room at this hot...,1,3 Dec
12,12,I wasn't very happy about the time it took for...,5,2 Dec
13,13,Was staying in mbs after phase 2 implemented. ...,4,2 Dec
14,14,I always enjoyed my stay with MBS. While I wou...,5,1 Dec
15,15,"Firstly, it may be a one time thing. We got th...",3,Nov 2020

In [13]:
# first 15 values in date column is like 1 Dec. So, I convert it into Dec 2020

for i in range(15):
    data = dataset['Date'][i][2:]
    dataset['Date'][i] = data+" 2020"

c:\users\sonih\anaconda3\envs\p39\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [14]:
dataset.head(20)

,Unnamed: 0,Review,Ratings,Date
0,0,Booked 3 rooms for a family staycation but sad...,1,Dec 2020
1,1,We booked a Bay Suite for family of 5 with a s...,5,Dec 2020
2,2,World Class Service! Highly recommended for an...,5,Dec 2020
3,3,Our family of 2 adults and 2 kids had a thoro...,4,Dec 2020
4,4,If you are looking for an unforgettable stayca...,5,Dec 2020
5,5,I had a great staycation to celebrate my anniv...,5,Dec 2020
6,6,Booked a room to celebrate my friend's birthda...,5,Dec 2020
7,7,Staycation was great with beautiful harbour vi...,5,Dec 2020
8,8,It's been a few years since i last stayed at t...,5,Dec 2020
9,9,I would to extend my compliment to Ms Catherin...,4,Dec 2020
10,10,I would like to compliment a staff named Hanna...,5,Dec 2020
11,11,I book Premier twin city view room at this hot...,1,Dec 2020
12,12,I wasn't very happy about the time it took for...,5,Dec 2020
13,13,Was staying in mbs after phase 2 implemented. ...,4,Dec 2020
14,14,I always enjoyed my stay with MBS. While I wou...,5,Dec 2020
15,15,"Firstly, it may be a one time thing. We got th...",3,Nov 2020
16,16,I had a few nights of wonderful stay at the Ma...,5,Nov 2020
17,17,We truly had a wonderful time at MBS! The room...,5,Nov 2020
18,18,Booked a premier city view room with a bathtub...,5,Nov 2020
19,19,The last time i went to mbs was in 2019 Decemb...,5,Nov 2020

In [16]:
dataset.to_csv("Final_Dataset.csv")